[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = tmiesse
	email = 32467484+tmiesse@users.noreply.github.com
